---
export interface Props {
  es: string;
  en: string;
  gl: string;
  prezo: string;
}

const { es, en, gl, prezo } = Astro.props;
---

<div class="flex mb-1">
  <div>{es}</div>
  <div class="grow text-right">{prezo} €</div>
</div>
