---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div class="flex gap-4 mb-6">
  <div class="text-2xl font-bold pt-1">{title}</div>
  <div class="grow">
    <div class="w-full h-1 mt-6 rounded bg-indigo-900 mx-auto mb-3"></div>
  </div>
</div>
