---
import "../assets/input.css";
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Manix - {title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap" rel="stylesheet" />
  </head>
  <body class="bg-repeat" style="background-image: url(/tabla.jpg)">
    <div class="mx-auto overflow-hidden min-h-screen md:grid md:grid-cols-2 lg:border lg:border-dotted lg:border-indigo-900 lg:max-w-6xl lg:mt-12 lg:px-12">
      <slot />
    </div>
  </body>
</html>
